.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "data transform result";
    height: 100%;
}
.header {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: #eaeaea;
}
.box {
    height: calc(100% - 40px);
    textarea {
        height: 100%;
        width: 100%;
        padding: 10px;
        outline: none;
        resize: none;
    }
}

.data {
    grid-area: data;
}
.transform {
    grid-area: transform;
}
.result {
    grid-area: result;
}
